<%- partial ('../../common/admin_nav.ejs') %>
<!--// Modal Add New Post -->
<div class="container" id="addPostModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-plus"></i> ADD NEW POST</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="add-post-form">
          <div class="form-group"><div class="col-sm-6">
          <div class="form-group">
            <label class="control-label col-sm-2" for="category">Category:</label>
            <div class="col-sm-10">
              <select class="form-control" name="cid" id="cid">
                <% _.each(allCategory, function(category) { %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
              <input class="sr-only" name="uid" value="<%= req.session.user.id %>">
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" required>
            </div>
          </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="slug">Slug:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="slug" id="slug" placeholder="Auto generate slug" required>
                </div>
              </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="type">Type:</label>
            <div class="col-sm-10">
              <select class="form-control" name="type" id="type">
                <option value="1">Youtube</option>
                <option value="2">URL</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="source">Source:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="source" id="source" placeholder="Enter source" required>
            </div>
          </div>



          <div class="form-group">
            <label class="control-label col-sm-2" for="featured">Featured:</label>
            <div class="col-sm-10">
              <select class="form-control" name="featured" id="feature">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="status">Status:</label>
            <div class="col-sm-10">
              <select class="form-control" name="status" id="status">
                <option class="val1" value="1">Show</option>
                <option class="val0" value="0">Hide</option>
              </select>
            </div>
          </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="content">Content:</label>
                <div class="col-sm-10">
                  <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">Click here</button>
                </div>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group has-feedback">
                <label class="control-label col-sm-3" name="imdb-title" for="imdb">IMDB Title:</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" class="form-control" name="imdb" id="imdb" placeholder="Enter IMDB Title" required>
                    <div class="input-group-addon">
                      <i id="icon_search" class="fa fa-search"></i>
                      <i id="icon_load" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                      <i id="icon_done" class="fa fa-check"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="description">Description:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="description" id="description" placeholder="Enter description">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="Time">Time:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="time" id="time" placeholder="Enter time">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="year">Year:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="year" id="year" placeholder="Enter year">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="director">Director:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="director" id="director" placeholder="Enter director">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="cast">Cast:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="cast" id="cast" placeholder="Enter cast">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="rate">Rating:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="rate" id="rate" placeholder="Enter rate">
                </div>
              </div>
            </div><hr>
            <div class="col-sm-12">
              <div class="form-group">

                <div class="col-sm-12 collapse" id="demo">
                  <textarea class="form-control" name="content" id="add-content" value=""></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-1" for="file">Image:</label>
                <div class="col-sm-11">
                  <div class="input-group">
                    <input type="text" class="form-control" name="thumbnail" id='thumbInput' value="">
                    <div class="input-group-btn">
                      <button id="gallery" type="button" class="btn btn-primary" data-toggle="modal" data-target="#galleryModal">
                        <i class="fa fa-picture-o"></i>  Gallery</button>
                      <button id="uploadDone" type="button" class="btn btn-warning" data-toggle="modal" data-target="#thumbnailModal">
                        <i class="fa fa-picture-o"></i>  Upload</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button onclick="goBack()" class="btn btn-default"><i class="fa fa-reply"></i> Go Back</button>
                  <button name="add-new" type="submit" class="btn btn-danger"><i class="fa fa-plus"></i> Add New</button>
                  <span class="post-author pull-right">Post by : <%= req.session.user.name %></span>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Upload Thumbnail-->
<div class="modal fade" id="thumbnailModal" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">UPLOAD THUMBNAIL</h4>
      </div>
      <div class="modal-body text-center">
        <form id="uploadForm" class="form-inline" role="form"
              enctype="multipart/form-data"
              action="/file/thumbnail"
              method="post" name="uploadForm" novalidate>
          <img id="thumbnail" style="max-width:100px;margin-bottom:10px" src=""><hr>
          <input class="btn btn-primary" type="file" accept="image/*" onchange="showMyImage(this)"
                 id="userPhotoInput" name="uploadFiles"/><hr>
          <input class="btn btn-danger" type="submit" value="Đồng Ý"/>
        </form>
      </div>

    </div>

  </div>
</div>

<!-- Modal -->
<div id="galleryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">IMAGE GALLERY</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
          <% _.each(allThumb, function(thumbnail) { %>
          <tr>
            <td><a onclick="chooseImg(this)" href="#"><img src="<%= thumbnail.link %>" width="100"></a></td>
            <td><%= thumbnail.name %></td>
            <td><%= thumbnail.size %></td>
          </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
