<%- partial ('../../common/admin_nav.ejs') %>

<div class="container" id="page-post_manager">
  <h2>POST LIST
    <span class="pull-right">
      <a href="/admin/newpost" class="btn btn-success btn-sm">
        <i class="fa fa-plus fa-lg"></i> New post</a></span>
  </h2>

  <table class="table table-inverse table-hover table-responsive" id="manage_post">
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(allPost, function(post) { %>
    <tr>
      <td class="post_img"><img src="<%= post.thumbnail %>" width="100"></td>
      <td class="post_name"><%= post.name %></td>
      <td class="post_description"><%= post.description %></td>
      <td class="post_content"><%= post.type %></td>
      <td class="post_status"><%= post.status %></td>
      <td class="post_submit col-md-3">
        <a href="/admin/postid/<%= post.id %>" class="btn btn-primary edit_post"><i class="fa fa-pencil-square-o"></i> Edit</a>
        <a class="btn btn-danger del_post"><i class="fa fa-remove fa-sm"></i> Delete</a>
      </td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>



<!--// Modal Del Category-->
<div class="modal fade" id="delPostModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">DELETE POST</h4>
      </div>
      <div class="modal-body">
        <p>Are you ready to delete post with name : <span class="post_name"></span> ?</p>
        <form class="form-horizontal" id="del-post-form">
          <input type="text" class="sr-only" name="id" value="">
          <div class="form-group">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn btn-danger"><i class="fa fa-remove fa-sm"></i> Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

