<%- partial ('../common/admin_nav.ejs') %>

<div class="container">
  <h2>Danh sách thành viên</h2>
  <p class="pull-right"><button id="removeid" type="button" class="btn btn-danger">Xóa</button></p>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Hình</th>
      <th>Tên</th>
      <th>Nhóm</th>
      <th>Email</th>
      <th>Điểm</th>
      <th>Sửa</th>
      <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(users, function(user) { %>
    <tr>
      <td><label class="checkbox-inline"><input name="idCheck[]" type="checkbox" value="<%= user.id %>"></label></td>
      <td><%= user.avatar %></td>
      <td><%= user.name %></td>
      <td><%= user.group  %></td>
      <td><%= user.email %></td>
      <td><%= user.point %></td>
      <td><a href="/admin/user/<%= user.id %>"><span class="glyphicon glyphicon-pencil"></span></a></td>
      <td><a href="/admin/user/del/<%= user.id %>"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>
<%- partial ('../common/footer.ejs') %>
