
<div class="container">
  <div id="list-post" class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-film"></i> PHIM MỚI CẬP NHẬT</div>
      <div class="panel-body">
        <% _.each(allPost, function(post) { %>
        <a href="/post/view?id=<%= post.id %>&slug=<%= post.slug %>">
          <div class="col-md-3 col-xs-3 col-sm-3 new-post">
            <div class="thumb-div">
            <img width="300" height="444" class="thumb-post" src="<%= post.thumbnail %>">
            </div>
            <!--Thumbnail 300x444-->
            <div class="name-post">
              <%= post.name %>
              <span class="desc-post"><%= post.description %></span>
              <span class="more-info"><i class="fa fa-clock-o"></i><%= post.time %>m  <i class="fa fa-star"></i><%= post.rate %></span>
            </div>

          </div>
        </a>
        <% }) %>
      </div>
      <div class="phantrang-home panel-footer text-center">
        <span class="sr-only countPost"><%= countPost %></span>
        <ul class="pagination">
          <!--<li class="active"><a href="?page=2">2</a></li>-->
        </ul>
      </div>
    </div>
  </div>
  <div id="column-right" class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-search"></i> SEARCH MOVIES</div>
      <div id="search" class="panel-body">
        <form id="search-form" action="post">
        <div class="input-group">
          <input type="text" class="form-control" name="putkeyword" id='search-key' value="">
          <input type="text" class="sr-only" name="keyword" value="">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>  Search</button>
          </div>
        </div>
        </form>

      </div>
      <div class="panel-heading"><i class="fa fa-film"></i> FEATURED MOVIES</div>
      <div class="panel-body">
        <% _.each(featuredPost, function(featured) { %>
        <a href="/post/view?id=<%= featured.id %>&slug=<%= featured.slug %>">
          <div class="media featured-name">
            <div class="media-left">
              <img src="<%= featured.thumbnail %>" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
              <h5 class="media-heading"><%= featured.name %></h5>
              <p><%= featured.description %></p>
              <p><i class="fa fa-clock-o"></i> <%= featured.time %></p>
              <p><i class="fa fa-calendar"></i> <%= featured.year %></p>
              <p><i class="fa fa-eye"></i> <%= featured.view %> views</p>
            </div>
          </div></a><hr>
        <% }) %>
      </div>
    </div>
  </div>
</div>
