<%- partial ('carousel.ejs') %>

<div id="main-page" class="container-fluid">
  <% _.each(foundPost, function(post) { %>
  <a href="/post/view?id=<%= post.id %>">
  <div class="col-md-2 col-xs-6 col-sm-3 onepost">
      <img class="thumb-post" src="<%= post.thumbnail %>">
      <div class="desc-post text-center"><a href="/post/view/<%= post.id %>"><strong><%= post.name %></strong></a></div>
  </div>
  </a>
  <% }) %>

</div>

